/*=============
section.about-info
=============== */

section.about-info {
  background-color: $color-4;
  padding: 6rem 0;

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 50%;
    padding: 2rem;
    display: flex;

    &:nth-child(3) i.fas {
      padding: 10px 14px;
    }

    i.fas {
      display: block;
      color: $color-1;
      font-size: 1.2rem;
      padding: 10px;
      margin-top: 10px;
      margin-right: 20px;
      background-color: $color-2;
      align-self: baseline;
      border-radius: 50%;
    }
  }
}

/*=============
section.blog
=============== */

section.blog {
  background-color: $color-5;

  ul {
    display: flex;
    flex-direction: column;
  }
  li {
    display: flex;

    &:first-child .content {
      padding-bottom: 0;
    }

    &:last-child h2,
    &:last-child a {
      align-self: flex-end;
    }

    &:last-child .image-container {
      order: 1;
      position: relative;
    }
  }
  .image-container {
    width: 100%;
    height: auto;
    flex: 1 0 50%;

    .left-image {
      background-image: url(../images/home/left-image.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: calc(100% - 5rem);
      height: 370px;
      margin-top: -34px;
      box-shadow: 15px 15px $color-3;
    }

    .right-image {
      background-image: url(../images/home/right-image.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: calc(100% - 5rem);
      height: 370px;
      margin-bottom: -50px;
      position: absolute;
      bottom: -50px;
      right: 0;
      box-shadow: -15px 15px $color-3;
    }
  }
  .content {
    padding: 3rem 5rem;
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;

    a {
      align-self: flex-start;
    }
  }
}

/*=============
section.party-info  
=============== */
section.party-info {
  background-color: $color-4;
  padding-top: 6rem;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  h2,
  a {
    align-self: center;
    margin: 1.5rem;
  }

  .banner-image {
    background-image: url(../images/home/banner-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    margin-top: 6rem;
  }
}

/*=============
section.event
=============== */

section.event {
  background-color: $color-4;
  padding: 5rem 0;

  .wrapper {
    display: flex;
    align-content: center;
  }
  .image-container {
    flex: 1 0 30%;
    background-image: url(../images/home/small-box-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    box-shadow: -15px 15px $color-3;
  }

  .content {
    flex: 1 1 70%;
    margin-left: 5rem;
  }
}

/*=============
section.galley
=============== */

// section.gallery {
//   background-color: $color-5;

//   .gallery-container {
//     display: flex;
//     padding: 5rem 0;
//   }

//   .image-container {
//     margin-right: 1.3rem;

//     &:last-child {
//       margin: 0;
//     }
//   }
// }

section.gallery .carousel {
  align-items: center;
  justify-content: center;
  display: flex;
  // overflow: hidden;
  margin: 2rem auto;
  position: relative;
  width: 400px;
  overflow: hidden;
  // border: 1px solid red;

  .img-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
    // width: 400px;
    align-items: center;

    img {
      // opacity: 0.4;
      // margin-right: 1rem;
    }
  }

  button.slide-button {
    background: $color-3;
    border: 0;
    border-radius: 50%;
    position: absolute;
    z-index: 1;

    &.previous {
      left: 5px;
    }

    &.next {
      right: 5px;
    }
  }
}
