/*=============
Nav-bar
=============== */

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  p.mobile-logo,
  label.menu-button,
  input.toggle-menu {
    display: none;
  }

  label.menu-button {
    cursor: pointer;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li {
    padding: 1rem 2rem;
    flex: 1 0 auto;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: $color-1;
    transition: all 0.3s;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.2);
      color: $color-3;
    }
  }
}

/*=============
footer
=============== */

footer {
  background-color: darkgrey;
  text-align: center;
}
