@import "setup";
@import "blog/blog-header";
@import "nav-and-footer";
@import "blog/blog-main";

@media (max-width: 1024px) {
  /*=============
  Header
  =============== */

  header {
    position: relative;
  }

  nav {
    justify-content: space-between;
    width: 100%;
    z-index: 20;

    .hamburger-menu {
      right: 1.8rem;
      position: fixed;
    }

    .nav-bar {
      display: block;
      position: absolute;
      top: 0;
      left: -100%;
      transition: all 0.5s;
      background-color: $color-2;

      li:nth-child(3) {
        display: none;
      }
    }

    p.mobile-logo,
    .hamburger-menu {
      display: block;
      color: $color-1;
      padding: 1rem;
      font-size: 2.5rem;
    }
  }

  nav.active ul.nav-bar {
    left: 0;
    position: fixed;
  }

  nav.active .bar {
    transform: rotate(360deg);
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
  /*=============
  main aside
  =============== */
  main .wrapper {
    display: flex;
    flex-direction: column;
  }
  aside.side-bar {
    flex: none;
  }
  aside.side-bar .container {
    display: flex;
    .image-container {
      width: 33%;
      margin-right: 2rem;
    }

    .content {
      width: 33%;
    }
    .image-container img {
      position: static;
      object-fit: contain;
    }
  }

  /*=============
  article.right-container
  =============== */
  article.right-container {
    margin: 0;
    margin-top: 1rem;
    width: 100%;

    .top-container {
      margin: 0;
      padding: 0;
    }
    .top-container img {
      position: static;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  /*=============
  aside.side-bar
  =============== */
  aside.side-bar .container {
    flex-direction: column;
    margin-top: 0;

    .image-container {
      width: 100%;
      margin: 0;
      margin-bottom: 2rem;
    }

    .content {
      width: 100%;
    }
  }

  /*=============
  article.right-container
  =============== */
  article.right-container {
    width: 100%;

    section.menu,
    section.comments {
      margin: 0;
      padding: 2rem;
    }
    form .divider {
      flex-direction: column;

      .input-container:last-child {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 480px) {
  /*=============
  article.right-container
  =============== */

  article.right-container section.menu,
  article.right-container section.comments,
  article.right-container form {
    padding: 0;
  }

  article.right-container {
    background-color: $color-4;
    .top-container,
    .top-container img {
      height: auto;
    }
  }
  article.right-container h3 {
    margin-top: 2rem;
  }

  article.right-container .comments .review {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:nth-of-type(1) .image-container,
    &:nth-of-type(2) .image-container {
      width: 160px;
      height: 160px;
      margin-bottom: 1rem;
    }
  }
}
