@import "setup";
@import "contact/contact-header";
@import "nav-and-footer";
@import "contact/contact-main";

@media (max-width: 1024px) {
  /*=============
  Header
  =============== */

  header .nav-bar {
    display: none;
  }

  nav {
    justify-content: space-between;
    width: 100%;

    p.mobile-logo,
    label.menu-button {
      display: block;
      color: $color-1;
      padding: 1rem;
    }

    label.menu-button:hover,
    label.menu-button:focus {
      color: $color-3;
    }

    input.toggle-menu:checked ~ .nav-bar {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: black;
      z-index: 20;
      top: 0;
      left: 0;

      li:nth-child(3) {
        display: none;
      }
    }

    i.fas {
      font-size: 2rem;
    }
  }

  /*=============
  section.contact
  =============== */
  section.contact {
    flex-direction: column-reverse;

    form {
      position: static;
      width: 100%;
    }
    .link-container,
    .form-container {
      flex: none;
    }
  }
  section.contact .form-container {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  /*=============
  section.contact
  =============== */

  section.contact form .divider {
    flex-direction: column;

    .input-container:last-child {
      margin-left: 0;
    }
  }
}

@media (max-width: 480px) {
  /*=============
  section.contact
  =============== */

  section.contact {
    padding: 0;
    padding-bottom: 2rem;
  }
}
