@import "setup";
@import "contact/contact-header";
@import "nav-and-footer";
@import "contact/contact-main";

@media (max-width: 1024px) {
  /*=============
  Header
  =============== */

  header {
    position: relative;
  }

  nav {
    justify-content: space-between;
    width: 100%;
    z-index: 20;

    .hamburger-menu {
      right: 1.8rem;
      position: fixed;
    }

    .nav-bar {
      display: block;
      position: absolute;
      top: 0;
      left: -100%;
      transition: all 0.5s;
      background-color: $color-2;

      li:nth-child(3) {
        display: none;
      }
    }

    p.mobile-logo,
    .hamburger-menu {
      display: block;
      color: $color-1;
      padding: 1rem;
      font-size: 2.5rem;
    }
  }

  nav.active ul.nav-bar {
    left: 0;
    position: fixed;
  }

  nav.active .bar {
    transform: rotate(360deg);
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  /*=============
  section.contact
  =============== */
  section.contact {
    flex-direction: column-reverse;

    form {
      position: static;
      width: 100%;
    }
    .link-container,
    .form-container {
      flex: none;
    }
  }
  section.contact .form-container {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  /*=============
  section.contact
  =============== */

  section.contact form .divider {
    flex-direction: column;

    .input-container:last-child {
      margin-left: 0;
    }
  }
}

@media (max-width: 480px) {
  /*=============
  section.contact
  =============== */

  section.contact {
    padding: 0;
    padding-bottom: 2rem;
  }
}
