@import "setup";
@import "home/header";
@import "nav-and-footer";
@import "home/main";

@media (max-width: 1024px) {
  /*=============
  Header
  =============== */

  header {
    position: relative;
  }

  nav {
    justify-content: space-between;
    width: 100%;
    z-index: 20;

    .hamburger-menu {
      right: 1.8rem;
      position: fixed;
    }

    .nav-bar {
      display: block;
      position: absolute;
      top: 0;
      left: -100%;
      transition: all 0.5s;
      background-color: $color-2;

      li:nth-child(3) {
        display: none;
      }
    }

    p.mobile-logo,
    .hamburger-menu {
      display: block;
      color: $color-1;
      padding: 1rem;
      font-size: 2.5rem;
    }
  }

  nav.active ul.nav-bar {
    left: 0;
    position: fixed;
  }

  nav.active .bar {
    transform: rotate(360deg);
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  /*=============
  Blog
  =============== */

  section.blog li {
    flex-direction: column;

    &:first-child .content,
    .content {
      padding: 5rem;
    }

    &:last-child .content h2,
    &:last-child .content a {
      align-self: flex-start;
      margin: 1rem 0;
    }

    &:last-child .image-container {
      order: 0;
    }

    .image-container .right-image,
    .image-container .left-image {
      position: static;
      box-shadow: none;
      width: 100%;
    }
  }

  /*=============
  Party-info
  =============== */

  section.party-info {
    padding-top: 3rem;

    .banner-image {
      background-size: contain;
      margin-top: 0;
    }
  }

  /*=============
  Event
  =============== */

  section.event {
    padding: 3rem;

    .image-container {
      flex: 1 0 50%;
    }

    .content {
      margin-left: 2.5rem;
      flex: 1 0 50%;
    }
  }
}

@media (max-width: 768px) {
  /*=============
  About
  =============== */
  section.about-info li {
    width: 100%;
  }

  /*=============
  Event
  =============== */
  section.event {
    padding: 7rem 0;
    .wrapper {
      flex-direction: column;
    }
    .image-container,
    .content {
      flex: none;
      margin: 0;
      padding: 1rem;
    }

    .image-container {
      box-shadow: none;
      width: 60%;
      align-self: center;
      margin-bottom: 2rem;
    }
  }

  /*=============
  Gallery
  =============== */

  section.gallery {
    .gallery-container {
      flex-wrap: wrap;
    }

    .image-container {
      flex: 1 0 calc(50% - 2rem);
      margin: 0;

      &:first-child {
        margin-right: 1rem;
      }

      &:last-child {
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
  /*=============
  Header
  =============== */
  header h1 {
    font-size: 10rem;
    margin-bottom: 8rem;

    .sub-heading {
      font-size: 2.2rem;
      top: 150px;
    }
  }

  /*=============
  section.about
  =============== */
  section.about-info li {
    padding: 2rem 1rem;
  }

  section.blog li:first-child .content,
  section.blog li:last-child .content {
    padding: 2rem;

    h2,
    a {
      align-self: center;
      margin: 1.5rem 0;
    }
  }

  /*=============
  section.party
  =============== */
  section.party-info {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;

    .banner-image {
      height: 300px;
    }
    h2 {
      margin: 0;
      margin-bottom: 2.2rem;
      text-align: center;
    }

    .wrapper {
      padding: 0 1rem;
    }
  }

  /*=============
  section.event
  =============== */
  section.event {
    padding: 3rem 0;

    .content {
      display: flex;
      flex-direction: column;

      h2,
      a {
        align-self: center;
        margin-top: 2rem;
      }
    }
    .image-container {
      padding: 0;
      margin: 0;
      width: 80%;
    }
  }
}
