header {
  background-image: url(../images/Blog/blog-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  .wrapper {
    border: 1px solid red;
  }
  h2 {
    margin-top: 8rem;
    padding-left: 4rem;
  }
}
