html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*=============
General
=============== */
html {
  font-size: 125%;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

ul,
h1,
h2,
h3,
h4,
p,
a {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

/*=============
Font
=============== */
h2,
h3,
h4,
.sub-heading,
.nav-bar a,
aside.side-bar a {
  font-family: "Chathura", sans-serif;
  font-weight: 700;
}

p,
label {
  font-family: "Chathura", sans-serif;
  font-weight: 400;
}

h1,
p.logo,
p.mobile-logo,
section.blog a,
section.party-info a,
section.event a,
form button {
  font-family: "Tulpen One", cursive;
  font-weight: 400;
}

h1 {
  font-size: 13.07rem;
  letter-spacing: 2.4px;
  color: #ff8327;
  position: relative;
  margin-bottom: 5rem;
  z-index: 10;
}
h1 .sub-heading {
  display: block;
  font-size: 4.16rem;
  letter-spacing: 2.4px;
  color: #ffffff;
  line-height: 94.7px;
  position: absolute;
  top: 207px;
  left: 7px;
}

h2 {
  font-size: 3.4rem;
  color: #ffffff;
  line-height: 58px;
  letter-spacing: 2.2px;
}
h2.article-head {
  color: #ff8327;
  margin-bottom: 1rem;
}

h3 {
  font-size: 3rem;
  color: #ffffff;
  line-height: 55px;
  letter-spacing: 2.2px;
}

h4 {
  color: #ff8327;
  font-size: 2rem;
}

.nav-bar a {
  text-transform: uppercase;
  font-size: 1.9rem;
  line-height: 29px;
  letter-spacing: 1.9px;
}

p {
  font-size: 1.9rem;
  line-height: 30px;
  letter-spacing: 1.9px;
  color: #ffffff;
}
p.logo, p.mobile-logo {
  text-transform: none;
  font-size: 3rem;
  color: #ffffff;
}
p.copyright {
  font-size: 0.95rem;
}

label {
  font-size: 1.5rem;
}

/*=============
link buttons
=============== */
section.blog a,
section.party-info a,
section.event a,
form button {
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 1.9px;
  text-decoration: none;
  padding: 0.25rem 1.5rem;
  margin-top: 1rem;
  background-color: #bf2603;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
section.blog a:hover, section.blog a:focus,
section.party-info a:hover,
section.party-info a:focus,
section.event a:hover,
section.event a:focus,
form button:hover,
form button:focus {
  background-color: #ff8327;
  color: #111010;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*=============
Blog font styles
=============== */
aside.side-bar .content a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: #ff8327;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-left: 0;
}
aside.side-bar .content a:hover, aside.side-bar .content a:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 5%;
  padding: 0.2rem 0.5rem;
  background-color: #bf2603;
}

header {
  background-image: url(../images/home/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
}
header .sub-background {
  background-image: url(../images/home/header-box.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 500px;
  position: absolute;
  right: 0;
  bottom: -100px;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

/*=============
Nav-bar
=============== */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav p.mobile-logo {
  display: none;
}
nav .hamburger-menu {
  cursor: pointer;
  padding: 1rem;
  display: none;
}
nav .bar {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
nav .bar::before, nav .bar::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #ffffff;
}
nav .bar::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
nav .bar::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav li {
  padding: 1rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
nav a:hover, nav a:focus, nav a:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #ff8327;
}

/*=============
footer
=============== */
footer {
  background-color: darkgrey;
  text-align: center;
}

/*=============
section.about-info
=============== */
section.about-info {
  background-color: #111010;
  padding: 6rem 0;
}
section.about-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section.about-info li {
  width: 50%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.about-info li:nth-child(3) i.fas {
  padding: 10px 14px;
}
section.about-info li i.fas {
  display: block;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px;
  margin-top: 10px;
  margin-right: 20px;
  background-color: #bf2603;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  border-radius: 50%;
}

/*=============
section.blog
=============== */
section.blog {
  background-color: #220303;
}
section.blog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.blog li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.blog li:first-child .content {
  padding-bottom: 0;
}
section.blog li:last-child h2, section.blog li:last-child a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
section.blog li:last-child .image-container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
}
section.blog .image-container {
  width: 100%;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}
section.blog .image-container .left-image {
  background-image: url(../images/home/left-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: calc(100% - 5rem);
  height: 370px;
  margin-top: -34px;
  -webkit-box-shadow: 15px 15px #ff8327;
          box-shadow: 15px 15px #ff8327;
}
section.blog .image-container .right-image {
  background-image: url(../images/home/right-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: calc(100% - 5rem);
  height: 370px;
  margin-bottom: -50px;
  position: absolute;
  bottom: -50px;
  right: 0;
  -webkit-box-shadow: -15px 15px #ff8327;
          box-shadow: -15px 15px #ff8327;
}
section.blog .content {
  padding: 3rem 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.blog .content a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

/*=============
section.party-info  
=============== */
section.party-info {
  background-color: #111010;
  padding-top: 6rem;
}
section.party-info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}
section.party-info h2,
section.party-info a {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 1.5rem;
}
section.party-info .banner-image {
  background-image: url(../images/home/banner-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  margin-top: 6rem;
}

/*=============
section.event
=============== */
section.event {
  background-color: #111010;
  padding: 5rem 0;
}
section.event .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
section.event .image-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  background-image: url(../images/home/small-box-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  -webkit-box-shadow: -15px 15px #ff8327;
          box-shadow: -15px 15px #ff8327;
}
section.event .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  margin-left: 5rem;
}

/*=============
section.galley
=============== */
section.gallery {
  background-color: #220303;
}
section.gallery .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 0;
}
section.gallery .image-container {
  margin-right: 1.3rem;
}
section.gallery .image-container:last-child {
  margin: 0;
}

@media (max-width: 1024px) {
  /*=============
  Header
  =============== */
  header {
    position: relative;
  }

  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    z-index: 20;
  }
  nav .hamburger-menu {
    right: 1.8rem;
    position: fixed;
  }
  nav .nav-bar {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #bf2603;
  }
  nav .nav-bar li:nth-child(3) {
    display: none;
  }
  nav p.mobile-logo,
nav .hamburger-menu {
    display: block;
    color: #ffffff;
    padding: 1rem;
    font-size: 2.5rem;
  }

  nav.active ul.nav-bar {
    left: 0;
    position: fixed;
  }

  nav.active .bar {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background-color: transparent;
  }
  nav.active .bar::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  nav.active .bar::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  /*=============
  Blog
  =============== */
  section.blog li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.blog li:first-child .content,
section.blog li .content {
    padding: 5rem;
  }
  section.blog li:last-child .content h2, section.blog li:last-child .content a {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 1rem 0;
  }
  section.blog li:last-child .image-container {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  section.blog li .image-container .right-image,
section.blog li .image-container .left-image {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }

  /*=============
  Party-info
  =============== */
  section.party-info {
    padding-top: 3rem;
  }
  section.party-info .banner-image {
    background-size: contain;
    margin-top: 0;
  }

  /*=============
  Event
  =============== */
  section.event {
    padding: 3rem;
  }
  section.event .image-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  section.event .content {
    margin-left: 2.5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media (max-width: 768px) {
  /*=============
  About
  =============== */
  section.about-info li {
    width: 100%;
  }

  /*=============
  Event
  =============== */
  section.event {
    padding: 7rem 0;
  }
  section.event .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.event .image-container,
section.event .content {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0;
    padding: 1rem;
  }
  section.event .image-container {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 60%;
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 2rem;
  }

  /*=============
  Gallery
  =============== */
  section.gallery .gallery-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.gallery .image-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(50% - 2rem);
            flex: 1 0 calc(50% - 2rem);
    margin: 0;
  }
  section.gallery .image-container:first-child {
    margin-right: 1rem;
  }
  section.gallery .image-container:last-child {
    display: none;
  }
}
@media (max-width: 480px) {
  /*=============
  Header
  =============== */
  header h1 {
    font-size: 10rem;
    margin-bottom: 8rem;
  }
  header h1 .sub-heading {
    font-size: 2.2rem;
    top: 150px;
  }

  /*=============
  section.about
  =============== */
  section.about-info li {
    padding: 2rem 1rem;
  }

  section.blog li:first-child .content,
section.blog li:last-child .content {
    padding: 2rem;
  }
  section.blog li:first-child .content h2,
section.blog li:first-child .content a,
section.blog li:last-child .content h2,
section.blog li:last-child .content a {
    -ms-flex-item-align: center;
        align-self: center;
    margin: 1.5rem 0;
  }

  /*=============
  section.party
  =============== */
  section.party-info {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section.party-info .banner-image {
    height: 300px;
  }
  section.party-info h2 {
    margin: 0;
    margin-bottom: 2.2rem;
    text-align: center;
  }
  section.party-info .wrapper {
    padding: 0 1rem;
  }

  /*=============
  section.event
  =============== */
  section.event {
    padding: 3rem 0;
  }
  section.event .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.event .content h2,
section.event .content a {
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 2rem;
  }
  section.event .image-container {
    padding: 0;
    margin: 0;
    width: 80%;
  }
}